{% extends "base.html" %} 

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-equipo{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="cover_image">
                {% image page.feed_image fill-180x170 %}
            </div>
        </div>
        <div class="col-md-6">
            <h1>{{ page.title }}</h1>
            <hr>
            <div>
                <p><strong>Descripción</strong></p>
                {{ page.body | richtext }}
            </div>
            <div>
                <p><strong>Fecha de fundación:</strong> {{ page.fundacion }}</p>
            </div>
            <div>
                <p><strong>País:</strong> {{ page.pais }}</p>
            </div>
            <div>
                <p><strong>Jefe de equipo:</strong> {{ page.jefe_equipo }}</p>
            </div>
            <div>
                <p><strong>Motor:</strong> {{ page.motor }}</p>
            </div>
            <div>
                <p><strong>Pilotos:</strong> {{ page.pilotos }}</p>
            </div>
            <div>
                <p><strong>Campeonatos:</strong> {{ page.campeonatos }}</p>
            </div>

            <p><a href="{{ page.get_parent.url }}">Volver a la página de inicio</a></p>
        </div>            
    </div>      
</div>
{% endblock %}

