{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-listado{% endblock %}

{% block content %}
    <h1 class="text-center">{{ page.title }}</h1>
    <hr>
    {% for post in listadopages %}
        {% with post=post.specific %}
            <div class="container">
                <div class="d-flex align-items-center">
                    {% with post.feed_image as feed_image %}
                        {% if feed_image %}
                            {% image feed_image fill-160x100 as img %}
                            <img src="{{ img.url }}" alt="{{ post.title }}" style="max-width:70px; margin-right: 10px;">
                        {% endif %}
                    {% endwith %}
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                </div>
                <hr class="hr hr-blurry" />
            </div>
        {% endwith %}
    {% endfor %}
    <div class="container">
        <p class="text-end"><a href="{{ page.get_parent.url }}">Volver a la página de inicio</a></p>
    </div>
{% endblock %}