{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/f1cars3.jpg' %}" style="width: 900px; height: 900px;" class="d-block w-100" alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/f1cars2.jpg' %}" style="width: 900px; height: 900px;" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/f1start.jpg' %}" style="width: 900px; height: 900px;" class="d-block w-100" alt="Image 3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<br>
    <center>
    <h2>Últimas novedades sobre la Fórmula 1</h2>
    </center>

    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/alonso.jpg' %}" alt="Card image cap" style="width: 1000px; height: 600px;">
          <div class="card-body">
            <h5 class="card-title">Alonso, más contento que nunca</h5>
            <p class="card-text">Con el nuevo Aston Martin y firmando podios en la mayoría de las carreras, el asturiano se siente muy cómodo en el coche y pretende que la 33 llegue este año...</p>
            <p class="card-text"><small class="text-muted">Subido hace 3 mins</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/mv.jpg' %}" alt="Card image cap" style="width: 1000px; height: 600px;">
          <div class="card-body">
            <h5 class="card-title">Verstappen, imparable</h5>
            <p class="card-text">El holandés, bicampeón del mundo, está rumbo a conseguir su tercer titulo mundial, habiendo igualado al mismísimo Ayrton Senna con 41 victorias y firmando una temporada excepcional...</p>
            <p class="card-text"><small class="text-muted">Subido hace 17 mins</small></p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
  
{% endblock %}